body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F4F4F4;
}

@font-face {
  font-family: 'Alef-Bold';
  src: url('Alef-Bold.ttf');
}

@font-face {
  font-family: 'Alef-Regular';
  src: url('Alef-Regular.ttf');
}

.navbar-custom {
  background-color: #1D47B7;
}

@media (min-width: 1200px) {
  .navbar-custom .brand {
    font-size: 28px;
  }
  .navbar-custom .group-link {
    font-size: 24px;
  }
  .container-form {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #4D94FF;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
.navbar-custom .brand {
    font-size: 26px;
  }
  .navbar-custom .group-link {
    font-size: 22px;
  }
  .container-form {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #4D94FF;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.navbar-custom .brand {
    font-size: 24px;
  }
  .navbar-custom .group-link {
    font-size: 20px;
  }
  .container-form {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #4D94FF;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.navbar-custom .brand {
    font-size: 20px;
  }
  .navbar-custom .group-link {
    font-size: 16px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.navbar-custom .brand {
    font-size: 18px;
  }
  .navbar-custom .group-link {
    font-size: 14px;
  }
}

.navbar-custom .brand {
  float: right;
  height: 50px;
  padding: 15px 15px;
  font-family: 'Alef-Bold', 'Arial';
  line-height: 20px;
  color: #FFFFFF;
}

.navbar-custom .brand > a {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar-custom .group-link {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-family:'Alef-Regular', 'Arial';
  line-height: 20px;
  color: #FFFFFF;
}

.navbar-custom .group-link > a {
  color: #FFFFFF;
  text-decoration: none;
}

main {
  flex: 1 0 auto;
  margin-left: 10%;
  margin-right: 10%;
}

.container-form {
  background-color: #FFFFFF;
}

#roommates-div {
  display: none;
}

#finalPriceBox {
  display: none;
}

#processingRequestMessageBox {
  display: none;
}

#errorsMessageBox {
  display: none;
}

#emptyFieldsMessageBox {
  display: none;
}

.container {
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}

hr.footer {
  margin: 25px 0;
    height: 1px;
    background: -webkit-linear-gradient(left,rgba(0,107,178,0),rgba(0,107,178,1), rgba(0,107,178,0));
    background:    -moz-linear-gradient(left,rgba(0,107,178,0),rgba(0,107,178,1), rgba(0,107,178,0));
    background:     -ms-linear-gradient(left,rgba(0,107,178,0),rgba(0,107,178,1), rgba(0,107,178,0));
    background:      -o-linear-gradient(left,rgba(0,107,178,0),rgba(0,107,178,1), rgba(0,107,178,0));
    background:        -linear-gradient(left,rgba(0,107,178,0),rgba(0,107,178,1), rgba(0,107,178,0));
